.goodme {
    width: 1440px;

    @media only screen and (max-width: 1920px) and (min-width:1450px) {
        width: 1920px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .maintitle {
        font-family: Jost;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        padding-bottom: 20px;
    }

    .randompict {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        @media only screen and (max-width: 1440px) and (min-width:1200px) {
            gap: 35px;
        }
    }
}